%h1#project.capitalize{'data-id' => @project.id,
                      'data-name' => @project.name}= @project.name
%ul#issues
  - @project.open_issues.each do |issue|
    = render partial: 'projects/issue', locals: { issue: issue }